.Checkoutpage-subtotal
{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border:1px solid black;
    background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 100px;
    right: 50px;
}

.Checkoutpage-subtotal-total
{
    margin-top: 200px;
    transform: translateY(-50px);
    text-align: center;
    font-size: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.Checkoutpage-subtotal-button:hover
{
    cursor: pointer;
    background-color: rgb(241, 229, 158);
    transform: translateY(-50px) scale(1.1);
    
    transition: 450ms;
}
.Checkoutpage-subtotal-button
{
    transform: translateY(-50px);
    font-size: 20px;
    padding: 5px;
    background-color: rgb(236, 217, 104);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Product-container-chekout
{
    max-width: 1000px;
    max-height: 500px;
    overflow: hidden;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 0px 0px 5px rgb(151, 151, 151);
    text-align: center;
    padding-top: 85px;
    align-items: center;
    align-content: center;
}
.Product-img-chekout
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    float: left;
    align-items: center;
}
.Product-title-chekout, .Product-price-chekout
{
    font-size: 20px;
    margin:10px
}
.Product-enstock-chekout
{
    color: rgb(67, 150, 46);
    font-weight: 900;
    margin:10px
}
.Product-button-buy-chekout
{
    width: 250px;
    font-size: 20px;
    background-color: rgb(226, 204, 79);
    border-radius: 5px;
    border: 2px solid rgb(92, 92, 92);
}
.Product-button-buy-chekout:hover
{
    cursor: pointer;
    background-color: rgb(241, 230, 168);
    transform: scale(1.1);
    transition: 450ms;
}